* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.pic {
  flex: 30%;

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 15px;
  /* height: 300px; /\* Should be removed. Only for demonstration *\/ */
}

.text {
  display: flex;
  flex: 70%;
  margin: 0px 15px 15px 25px;
  /* position: absolute; */
  justify-content: center;
  align-items: center;
  text-align: justify;
  /* font-weight: bold; */
  text-justify: inter-word;
  font-size:15px;
  /* height: 300px; /\* Should be removed. Only for demonstration *\/ */
}

.name {
  text-align:center;
  font-size:18px;
  margin-top: 15px;
}
