body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

img {
  /* padding: 8px 8px 8px 32px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  margin-top: 32px;

}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0e593e;
  overflow-x: hidden;
  transition: 0.1s;
  /* padding-top: 60px; */
}

.sidepanel close {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f8f8f8;
  display: block;
  transition: 0.1s;
}

.sidepanel close:hover {
  color: #2d785d;
}

.sidepanel name {
  font-family: "Garamond", serif;
  padding: 8px 32px 8px 32px;
  text-decoration: none;
  /* text-decoration: underline; */
  font-size: 19px;
  color: #f8f8f8;
  display: block;
  transition: 0.3s;
  text-align: justify;
  font-weight: bold;
  text-justify: inter-word;
}

.sidepanel hr {
  /* margin: 8px 8px 8px 8px; */
  /* text-decoration: none; */
  /* font-size: 16px; */
  color: #f8f8f8;
  display: block;
  /* transition: 0.3s; */
  text-align: center;
  width: 330px;
  /* font-weight: bold; */
  text-justify: inter-word;
}

.sidepanel title {
  padding: 8px 32px 2px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #f8f8f8;
  display: block;
  transition: 0.3s;
  text-align: justify;
  font-weight: bold;
  text-justify: inter-word;
}

.sidepanel apo {
  padding: 8px 32px 32px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #f8f8f8;
  display: block;
  transition: 0.3s;
  text-align: center;
  font-weight: bold;
  text-justify: inter-word;
}

.sidepanel p {
  padding: 2px 32px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #f8f8f8;
  display: block;
  transition: 0.3s;
  text-align: justify;
  text-justify: inter-word;
}

.sidepanel instatext {
  padding: 16px 32px 0px 8px;
  text-decoration: none;
  font-size: 16px;
  color: #f8f8f8;
  display: block;
}

/* .sidepanel a:hover { */
/*   color: #f1f1f1; */
/* } */

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  position:fixed;
  top: 30;
  right: 1;
  background-color: #0e593e;
  color: white;
  padding: 10px 15px;
  margin: 10px 10px;
  border: 0;
}

.insta {
  /* font-size: 20px; */
  /* border-radius: 10px; */
  cursor: pointer;
  /* position:fixed; */
  /* bottom: 1; */
  text-align: right;
  /* right: 1; */
  /* background-color: #0e593e; */
  /* color: white; */
  /* padding: 10px 15px; */
  margin: 16px 0px 0px 32px;
  /* border: 0; */
}

/* .insta { */
/*   font-size: 20px; */
/*   /\* border-radius: 10px; *\/ */
/*   cursor: pointer; */
/*   position:fixed; */
/*   bottom: 1; */
/*   /\* right: 1; *\/ */
/*   /\* background-color: #0e593e; *\/ */
/*   /\* color: white; *\/ */
/*   padding: 10px 15px; */
/*   margin: 0px 210px; */
/*   border: 0; */
/* } */

.openbtn:hover {
  background-color:#2d785d;
}
